.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  margin-bottom: 100px;
}

.App-section {
  font-size: large;
}

a {
  color: silver;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: silver;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
